

.styled-image {
    width: 150px;
    height:auto;
    border: 5px solid #2A9887;
    border-radius: 3px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    filter: grayscale(100%);
    transition:all 0.4s ease;
    float: left; 
    margin: 20px
}
.styled-image:hover{
    filter: none;
    transform: scale(1.1);
}

       
      
   