       /*images-homepage*/

.styled-image {
    width: 235px;
    height:auto;
    border: 5px solid #2A9887;
    border-radius: 2px;
    box-shadow: 3px 3px 15px rgb(3, 217, 250);
    filter: grayscale(100%);
    transition:all 0.4s ease;
    float: left; 
    margin: 20px
}
.styled-image:hover {
    filter: none; 
    transform: scale(1.1);
}

.uni-image{
    width: 300px;
    height:auto;
    float: right;
    border: 5px solid #2A9887;
    border-radius: 3px;
    box-shadow: 3px 3px 15px rgb(3, 217, 250);
    filter: grayscale(100%);
    transition:all 0.4s ease; 
    margin: 20px;
}
 
.uni-image:hover {
    filter: none; 
    transform: scale(1.1);
}

      /*navigation bar*/

.navigation-ul{
    list-style-type: none;  /*removing bullet points or numbering from the list */
    margin-right: 30px;
    margin-left: 30px;
    overflow: hidden;
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    font-weight: bold;
}
.navigation-li{
  float:left;
  display:block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  color: rgb(83, 177, 235);
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;

}


.navigation-li a:hover {
    background-color: rgb(205, 251, 246);
    border-radius: 10px;
    border: 5px solid rgb(205, 251, 246);
 }
 .navigation-bar{
    border: 200px;
    border-radius: 200px;
    
    border-width: 200px;
    text-decoration: none;
  }

  /*index*/
  
  .open-eye {
    width: 70%;
    margin-left: 350px;
    position: absolute;  /* Ensure it overlaps with .left-eye */
    transition: opacity 0.4s ease;  /* Smooth transition for the hover effect */
}

.left-eye {
    width: 70%;
    margin-left: 350px;
    position: absolute;  /* Both images should occupy the same space */
    opacity: 0;  /* Hidden by default */
    transition: opacity 0.4s ease;
}

.eye-container {
    position: relative;
}

.eye-container:hover .left-eye {
    opacity: 1;  /* Show the left-eye on hover */
}

.eye-container:hover .open-eye {
    opacity: 0;  /* Hide the open-eye on hover */
}


      /*homepage*/
.bodyhomepage{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    column-gap:50px;
    background-image :radial-gradient(circle, rgba(144, 144, 144, 0.857) 1px, transparent 1px);
    background-size: 25px 25px;
}

.column-alittlebitaboutmyself{
    float: left;
    width: 50%; 
    margin-top: 40px;
   
    
}
.row ::after{
    content: "";
    display: table;
    clear: both;
  }

.column-alittlebitaboutmyself h2 {
    margin-left: 50px;
    font-family:'Courier New', Courier, monospace;
    border-bottom:2px solid black;
    font-size: 50px;
    width:90%;
    margin-top:20px;
}
.column-alittlebitaboutmyself p{
    line-height: 1.6;
    font-size: 22px;
    float:left;
    margin-top: 50px;
    margin-bottom: 250px;
    margin-right:35px; 
    margin-left: 49px;
    
}
.column-whyhbo-ict{
    float:right;
    width: 50%;
    margin-top: 40px;
    
}
.column-whyhbo-ict h2 {
    margin-left: 50px;
    font-family:'Courier New', Courier, monospace;
    border-bottom:2px solid black;
    font-size: 50px;
    width:90%;
    margin-top:20px;
}

.column-whyhbo-ict p{
    line-height: 1.6;
    font-size: 22px;
    float:left;
    margin-top: 50px;
    margin-right:20px; 
    margin-left: 51px;
    

}
.orderedlist-column {
    line-height: 1.6;
    font-size: 23px;
    float:left;
    margin-bottom: 190px;
    margin-right:20px; 
    margin-left: 49px;
    
}
.uni-site, .ICT-site {
    text-decoration: none;
    color: #0e0ae9
}



        /*profile page*/

 .background-profile{
    background-image :radial-gradient(circle, rgba(154, 153, 153, 0.857) 1px, transparent 1px);
    background-size: 25px 25px;
}

    .box1 {
        float: left;
        height:750px;
        margin-left: 45px;
        margin-right: 70px;
        width: 1100px;
        text-align: left;
        line-height: 1.6;
        
 }



 .h1title-profile{
    font-family:'Courier New', Courier, monospace;
    font-size:50px;
    line-height: 1.6;
    text-align: left;
    margin-left: 65px;
    color:#000000;
    text-decoration:underline;
    
}

.h2-profile{
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
  line-height: 1.8;
  margin:20px;
  color:#000000;

}
.first-paragraph-profile {
    font-family:'Courier New', Courier, monospace;
    text-align:left;
    line-height: 1.6;
    font-size:20px;
    margin:20px;
    color:#000000;
}

.list-1-profile{
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
    text-align: left;
    font-size:20px;
    margin:20px;
    color:#000000;
}

.doggo-profilepic, .profile-pic{
    width: 375px;
    height:auto;
    box-shadow: 3px 3px 15px rgb(3, 217, 250);
    filter: grayscale(100%);
    transition:all 0.4s ease;
    float: left; 
    margin: 20px;
}
.doggo-profilepic:hover {
    filter:none;
    transform: scale(1.1);
}
.profile-pic:hover{
    filter:none;
    transform: scale(1.1);
}
.addams-profilepic{
    width: 355px;
    height:auto;
    box-shadow: 3px 3px 15px rgb(3, 217, 250);
    filter: grayscale(100%);
    transition:all 0.4s ease;
    float: left; 
    margin: 20px; 
}
.addams-profilepic:hover{
    filter:none;
    transform: scale(1.1);
}

.box2{
    height:700px;
    float: inline-start;
    margin-left: 1375px;
    width: 1100PX;
    margin-right: 15px;
    line-height: 1.6;
    text-align: right;
    
}


.table-profile{
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    margin:20px auto;

}
.table-header{
font-family: 'Courier New', Courier, monospace;
font-size: 25px;

}
.table-header, .table-profile-data{
    margin-top: 35px;
    text-align: center;
    padding: 15px;
    width: 50px;
}
.table-profile-row:nth-child(even){
background-color: #ddf79e;
}
.table-profile-row:nth-child(odd){
    background-color: rgb(251, 222, 186);
}
.connect-profile{
    font-family:monospace;
    font-size:20px;
    margin:20px;
    color:#040404;
}
.addams, .fluffdog{
    text-decoration: none;
}
.footer{
    float: left;
    height:150px;
    margin-left: 65px;
    margin-right: 80px;
    width: 1100px;
    text-align: left;
}
.contact-container{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.instagram-contact{
    display: inline-block;
    width: 40px;
    height:40px;
}
.github-contact{ 
    display: inline-block;
    width: 40px;
    height:40px;
}
.icon-container{
    align-items: center;
}

   /*Blog-Main-Page*/
.background-blog{
    background-image :radial-gradient(circle, rgba(154, 153, 153, 0.857) 1px, transparent 1px);
    background-size: 25px 25px;
}

.h2-welcome{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin:20px;

}
.h3-personal-swot{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    border:15px;
    width:350px;
    margin:20px;
}
.swotbox-paragraph{
    font-family: 'Courier New', Courier, monospace;
    background-color: #F9ECCE;
    width: 1600px;
    border: 15px;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;

}
.h3-programming{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin:20px;
    border:15px;
    width:350px;
    margin:20px;
    border-radius: 10px;
     
}
.programming-paragraph{
    font-family: 'Courier New', Courier, monospace;
    background-color: #C3E2DD;
    width: 1600px;
    border: 15px;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;  
}

.h3-firstfeedback{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 20px;
    border:15px;
    width:350px;
    margin:20px;
}
.feedback-paragraph{
    font-family: 'Courier New', Courier, monospace;
    background-color:#D2E1B6;
    width: 1600px;
    border: 15px;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}
.h3-article{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 20px;
    border:15px;
    width:350px;
    margin:20px;
}
.article-paragraph{
    font-family: 'Courier New', Courier, monospace;
    background-color:#EDD8E9;
    width: 1600px;
    border: 15px;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}
.button1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

}
.button-return{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-left: 20px;
}
/*Feedback*/

.blog{
    width: 90%;
    margin: 30px auto;
    font-size:20px;
    line-height: 1.6;
}
.backgroundcolor2{
    background-color: #D2E1B6;
     }


 /*Programming Experience External Page*/

 .backgroundcolor-programing-experience-external{
    background-color: #C3E2DD;
  
 }
 .h3-prgexperience-external{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 5px;
 }
 .programming-experience-external-body{
    width: 90%;
    margin: 30px auto;
    font-size:20px;
    line-height: 1.6;

 }

 /* Article about ICT*/
 .article-body{
    width: 90%;
    margin: 30px auto;
    font-size:20px;
    line-height: 1.6;
 }
 .backgroundcolor-article-external{
    background-color:#EDD8E9;
 }
 /*Personal SWOT Analysis External Page*/

 .personalSWOTanalysis{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin:10px;
    padding:10px;
 }

 .table{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #EBE8E2;
 }
.th, .td {
    padding: 20px;
    text-align: left;
    border: 1px solid #EBE8E2;
    font-size: 1.1em;
    vertical-align: top;
}
.th {
    background-color:  #F9E3B5;
    font-weight: bold;
    text-align: center;
}
.backgroundcolor5{
    background-color: #F9ECCE;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.ultable, .ulfaq{
    list-style-type: none;
}

      
     /*FAQ*/

.background-faq{
    background-image :radial-gradient(circle, rgba(154, 153, 153, 0.857) 1px, transparent 1px);
    background-size: 25px 25px;
}
.title-faq{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;

}
body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    margin: 30;
    padding:40px;
}

.faq-section {
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgb(210, 223, 223);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(46, 53, 50, 0.1);
}

.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.faq-question {
    display: block;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    background-color: #8cb0bd;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.faq-answer {
    display: none;
    padding: 25px;
    background-color: #f9f9f9;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 20px;
}

.faq-answer p {
    margin: 0;
}

.faq-answer a {
    color: #0066cc;
    text-decoration: underline;
}


.faq-toggle {
    display: none;
}

.faq-toggle:checked + .faq-question + .faq-answer {
    display: block;
}


a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


       /*persoanl-dashboard*/
       /*aside-menu*/
.h1title-dashboard{
    font-family:'Courier New', Courier, monospace;
    font-size:45px;
    line-height: 1.2;
    text-align: center;
    color:#000000;
}
.aside-menu-dashboard{
    width: 250px;                
    background-color: #dbebb1;       
    padding: 30px;                
    position:fixed;            
    height: 25vh;                
    top: 20;
    right: 0;
}
.legend-list{
    list-style-type:none;
    padding: 20;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 2.2;
    text-decoration: none;
}
.h3legend{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    color: #545550;
}
.aside-menu-color-orange{
    color:black;
    font: bold;
    background-color: rgb(244, 175, 47);
    text-align: center;
}
.aside-menu-color-red{
    color:black;
    font: bolder;
    background-color: red;
    text-align: center;
}
.aside-menu-color-green{
    color:black;
    font: bolder;
    background-color: rgb(40, 196, 40);
    text-align: center;
}

.aside-menu-useful-links{
    width: 320px;
    text-decoration:none;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    font-size: 20px;             
    background-color: #dbebb1;       
    position:fixed;           
    height: 25vh;                
    top: 650px;
    right: 0;
}

/*tables*/


/*background of entire personal dashboard page*/
.background-dashboard{
    background-color: #c1e8da;
    background-image :radial-gradient(circle, rgba(154, 153, 153, 0.857) 1px, transparent 1px);
    background-size: 25px 25px; 
}

.year-credit-dashboard-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 50px;
    padding: 5px;
}
/*title of each table*/
.first-quartile-dashboard-title, .second-quartile-dashboard-title, .last-quartile-dashboard-title, .continuous-dashboard-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 50px;
    padding: 5px;
}
/*EC dashboard */

.table-dashboard-EC {
    font-family:'Courier New', Courier, monospace;
    width: 80%;
    margin: 20px 90px;
    border-collapse: collapse;
    background-color: rgb(207, 214, 224);
    box-shadow: 0 4px 8px rgba(6, 107, 147, 0.1); 
   
}
.table-data-dashboard-EC{
    font-size: 20px;
    text-align: center;
}
/**/

.dashboard-table{
    background-color: #CFE6EE;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    margin: 20px 90px;
    background-color: rgb(207, 214, 224);
    box-shadow: 0 4px 8px rgba(6, 107, 147, 0.1); 
}



.table-header{
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 20px;
}

.table-cell  {
    background-color: #86cbe6  ;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;;
}


